fastapi==0.129.0
uvicorn==0.41.0
SQLAlchemy==2.0.46
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
httpx==0.28.1
sqlmodel==0.0.34
dnspython==2.8.0
email-validator==2.3.0
cryptography==46.0.5
bcrypt==5.0.0
python-jose==3.5.0
python-multipart==0.0.22
python-dotenv==1.2.1


#testing
pytest==9.0.2

#tools
alembic==1.18.4
